page-photo-list {
    ion-header {
        background-color: $on-bg-color;
        ion-grid {
            ion-row {
                color: white;
                font-size: 2rem;
            }
        }
    }
    
    ion-content {
        ion-grid {
            ion-row {
                ion-col {
                    img {
                        
                    }
                }
            }
        }
    }
}