// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$medium-blue: #2A81B4;
$jn-app-color: #146e8c; /* Common App color */
$jn-app-second-color: #bfbfbf; /* Common App Second combination color */
$jn-height-of-item: 36px; /* Common height for items in list */
$jn-app-font: '-apple-system', 'Roboto', 'Helvetica Neue', sans-serif; /* Common font type. */
$on-bg-color: #0f96f7;
$jn-placeholder-color: #8C8C8C;
$bar-default-border: #45B4DA;
$default-header-color: #34495E;
$lighter-header-color: #455C70;
$checkbox-fill: #1597f0;
$white: #fff;
$black: #000;
$off-black: #282828;
$red: #FF0000;
$red-2: #ef473a;
$medium-orange: #FF8659;
$gray: #777;
$gray-2: #808080;
$gray-3: #333;
$gray-4: #999;
$gray-5: #666;
$light-blue-gray: #7da2ba;
$bright-blue: #0095ff;
$medium-blue-2: #387ef5;
$bright-blue-2: #3599D5;
$light-gray: #99a4ad;
$light-gray-2: #909090;
$lighter-blue-gray: #96B1C6;
$sky-blue: #ADD8E6;
$off-white: #fbfbfb;
$off-white-2: #c8c8c8;
$off-white-3: #E9EDF2;
$off-white-4: #C6D1DC;
$off-white-5: #eee;
$teal: #008080;
$dark-teal: #1A3A59;
$dark-desaturated-blue: #2b3346;
$very-light-gray: #f5f5f5;
$grey-sixty: #999999;
$azure-blue: #1A97FC;
$very-dark-blue: #071620;

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
