<ion-header class="preview" #header>
    <ion-grid>
      <ion-row justify-content-between align-items-center *ngIf="!isCrop">
        <ion-col col-auto>
          <ion-icon name="close-circle" (click)="goPhotoListPage(false)" class="close-circle"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="brush" (click)="penTool();"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="water" class="green" (click)="selectedColor='green'"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="water" class="yellow" (click)="selectedColor='yellow'"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="water" class="blue" (click)="selectedColor='blue'"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="text" (click)="textTool()"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="arrow-round-forward" (click)="arrowTool();"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="crop" (click)="cropTool();"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="create" (click)="goEditPage()"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="undo" (click)="undo();"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="checkmark" (click)="upload()"></ion-icon>
        </ion-col>
        <!-- <button ion-button round outline color="light" small (click)="upload()">Save</button> -->
      </ion-row>

      <!-- show crop tool -->
      <ion-row justify-content-between align-items-center *ngIf="isCrop" class="crop-tool">
        <ion-col col-auto>
          <ion-icon name="close-circle" (click)="isCrop=false;" class="close-circle"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="add" (click)="zoom(true)"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="remove" (click)="zoom(false)"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="refresh" (click)="rotate()"></ion-icon>
        </ion-col>
        <!-- <ion-col col-auto>
          <button ion-button clear color="light" small (click)="scaleX()" class="no-padding">
            Flip X
          </button>
        </ion-col>
        <ion-col col-auto>
          <button ion-button clear color="light" small (click)="scaleY()" class="no-padding">
            Flip Y
          </button>
        </ion-col> -->
        <ion-col col-auto>
          <ion-icon name="arrow-round-up" (click)="move(0, -10)"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="arrow-round-down" (click)="move(0, 10)"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="arrow-round-back" (click)="move(-10, 0)"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="arrow-round-forward" (click)="move(10, 0)"></ion-icon>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="checkmark" (click)="save()"></ion-icon>
        </ion-col>
        <!-- <button ion-button round outline color="light" small (click)="save()">Save</button> -->
      </ion-row>
    </ion-grid>

</ion-header>
 
<ion-content class="preview">
  <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)" (touchend)="endDrawing()" [style.display]="isCrop?'none':'block'"></canvas>
  <input type="text" [style.marginTop.px]="textTop" [style.marginLeft.px]="textLeft" [style.color]="selectedColor" [style.display]="inputDisplay" class="canvas-text" [(ngModel)]="text" />
  <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="imageUrlToCrop" *ngIf="isCrop" (touchstart)="cropperTouchStart($event)"></angular-cropper>
  <notifications></notifications>
</ion-content>
