<ion-header>
  <ion-grid>
    <ion-row justify-content-between align-items-center>
      <ion-col col-auto>
        <button ion-button round outline color="blue" small (click)="goCamera()">Cancel</button>
      </ion-col>
      <ion-col col-auto>
        <button ion-button round outline color="blue" small (click)="goImportPreview()">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngFor="let img of images; let i = index" (click)="checked[i]=!checked[i]">
        <img [src]="img" />
        <ion-icon name="checkmark-circle" *ngIf="checked[i]"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <notifications></notifications>
</ion-content>
