<ion-header>
  <ion-grid>
    <ion-row justify-content-between align-items-center>
      <ion-col col-auto>
        <button ion-button round outline color="blue" small (click)="goImportPhoto()">Back</button>
      </ion-col>
      <ion-col col-auto>
        <button ion-button round outline color="blue" small (click)="goListPage()">Upload</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-auto>
        <ion-icon name="images"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-auto>
        {{ count }} Photos Selected
      </ion-col>
    </ion-row>
    <ion-row justify-content-start>
      <ion-col col-auto>
        ATTACHMENT CATEGORY
      </ion-col>
    </ion-row>
    <ion-row justify-content-between align-items-center class="item" (click)="clickItem(0)">
      <ion-col col-auto>
        Before
      </ion-col>
      <ion-col col-auto>
        <ion-icon name="checkmark" *ngIf="checked[0]"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row justify-content-between align-items-center class="item" (click)="clickItem(1)">
      <ion-col col-auto>
        After
      </ion-col>
      <ion-col col-auto>
        <ion-icon name="checkmark" *ngIf="checked[1]"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row justify-content-between align-items-center class="item" (click)="clickItem(2)">
      <ion-col col-auto>
        Damage
      </ion-col>
      <ion-col col-auto>
        <ion-icon name="checkmark" *ngIf="checked[2]"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row justify-content-between align-items-center class="item" (click)="clickItem(3)">
      <ion-col col-auto>
        Documents
      </ion-col>
      <ion-col col-auto>
        <ion-icon name="checkmark" *ngIf="checked[3]"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
